.div-search {
    padding-left: 2em;
    border-left: 4px solid #4286F5 !important;
}

.news {
    margin-top: 2em;
    border-left: 1px solid #0000000d;
}

.news .title {
    padding-left: 1.3em;
    font-size: 1.1em;
    font-weight: 800;
    border-left: 4px solid #4286F5 !important;
}

.new {
    padding-left: 1.4em;
}

a.new-name {
    font-size: 1em;
    font-weight: 800;
}

.img-news {
    padding-right: 0px;
    padding-top: 8px;
}

.caret-icon {
    font-size: 0.8em;
    margin: 0px 0.8em;
    color: #aaaaaa;
}

.link a {
    color: gray;
}

.about-controls {
    border-bottom: 4px solid #4286F5 !important;
}

.control-item {
    padding: 0.2em 1.5em;
    transition: 0.4s;
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
    display: inline-block;
}

.control-active {
    background: #4286F5 !important;
    color: white;
    transition: 0.6s;
}

.about-content {
    background: #f9f9f9;
    color: black;
    padding: 0.8em 1.5em;
}

.content-item {
    display: none;
}

.content-item.active {
    display: block!important;
}

.content-div h1 {
    color: #2A629F;
    font-weight: 800;
}

.content-div img {
    border-radius: 26px;
    /* box-shadow: 8px 12px 5px #fbb11f9e; */
}

img {
    width: 100%;
}