.button-item {
    display: inline-block;
    margin: .1em;
}

.button-item a button {
    background: var(--color-main);
    color: white;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 16px;
    border: 0px;
}

.title-1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.4;
    color: var(--color-main);
}

.padding-top-0 {
    padding-top: 0px!important;
}

.hover-scale {
    transition: 0.3s;
}

.hover-scale:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.hover-scale-white {
    transition: 0.2s;
    position: relative;
}


/* .hover-scale-white:hover {
    transform: scale(1.1);
} */

.hover-scale-white::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .0;
    transition: 0.2;
}

.hover-scale-white:hover::after {
    opacity: 0.2;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.2;
}

.hover-scale-white:hover .img-fluid {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.hover-scale-white .img-fluid {
    transition: 0.3s;
}

.hover-color-blue {
    transition: 0.2;
}

.hover-color-blue:hover {
    color: #07203b !important;
}

.section {
    margin: 100px 0px !important;
}

figure.img-wrap {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 200px;
    margin: auto !important;
}

.room {
    position: relative;
    display: block;
    cursor: pointer;
}

.slide-about-item {
    padding: 2.5em;
}

.owl-prev {
    position: absolute !important;
    left: -45px !important;
    z-index: 100;
    margin-top: 14em !important;
}

.owl-next {
    position: absolute !important;
    right: -45px !important;
    z-index: 100;
    margin-top: 14em !important;
}

.owl-nav {
    position: absolute;
    top: 0px;
    width: 100%;
}

.w-80-center {
    width: 80%;
    margin: 0 auto;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span {
    font-size: 90px;
}

figure.img-wrap img {
    /* min-height: 270px; */
    object-fit: contain;
    width: 100%;
    height: 200px;
}

.content-tick-icon {
    display: inline-block;
    width: 45px;
    margin-right: 1%;
    background: white;
    text-align: center;
    padding: 3px;
    border-radius: 100px;
    border: 1px solid white;
}

.content-tick-icon i {
    font-size: 1.5em;
}

.content-tick-content {
    display: inline-block;
    width: 96%;
    /* background: var(--color-main); */
    padding: 5px 10px;
    /* color: white; */
    /* border-radius: 7px; */
}

.content-tick-content p {
    margin-bottom: 0px;
}

.content-tick div {
    float: left;
    /* margin-top: 1em; */
}

.content-tick {
    width: 100%;
    background: #ffffff;
    color: black;
    height: auto;
    min-height: 70px;
    margin-top: 6px;
    padding: 0px 0px 0px 16px;
    transition: 0.1s;
    border-bottom: 1px solid #0000000f;
    font-weight: 500;
}

/* .content-tick:hover {
    background: #07203b;
} */

.content-about p {
    padding: 0em 1em;
    font-size: 1.2em;
    position: relative;
}

.img-wrap1 img {
    height: 200px;
}


/* .content-about p:first-child::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 0;
    border-left: 8px solid var(--color-main);
    border-top: 8px solid var(--color-main);
}

.content-about p:last-child::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -10px;
    right: 0;
    border-right: 8px solid var(--color-main);
    border-bottom: 8px solid var(--color-main);
} */


/* reponsive */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
    .title-1 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 576px) {
    .content-tick {
        height: auto;
        padding: 4px 15px;
    }
    .title-1 {
        font-size: 2em;
    }

    .fz-1em {
        font-size: .9em;
    }

    .content-tick-icon {     
        width: 40px;
    }
}

.content-tick-father {
    box-shadow: 2px 3px 3px #0000000d;
    border-radius: 1em;
    padding: 0px 20px 0px 0px;
}